{% extends 'Services/base.html' %} {% load static %} {% block content %}
<div class="box box-info">
    <a type="button" class="btn btn-default" href="{% url 'item-configure' service_id %}"> <!---->
        <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> Atras
    </a> 
    <div class="box-header with-border">
        <h3 class="box-title">Objeto Perdido</h3>
    </div>
    <div class="box-body">
        <div id "div_form">
            <table class="table">
                {% if form.title.errors %}
                <div id="alert_error_title" class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <strong>{{ form.title.errors }}</strong>
                </div>
                {% endif %}
                <form method="post" class="post-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div id="button_save">
                        <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-save"></span> Guardar
                        </button>
                    </div>
                </form>
            </table>
        </div>
    </div>
</div>
{% endblock %}