{% extends 'Services/base.html' %} {% load static %} {% block content %}
<div class="box box-info">
    <a type="button" class="btn btn-default" href="{% url 'service-list' %}"> <!---->
        <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> Atras
    </a> 

    <div class="box-header with-border">
        <h3 class="box-title">{{ service.title }}</h3><br>
    </div>
    
    <a type="button" class="btn btn-primary" href="{% url 'item-create' service.id %}"> <!---->
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar
    </a> 
    
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Fotos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if object_list %} {% for item in object_list %}
            <tr>
                <td>
                    {{ item.title }}
                </td>
                <td>
                    {{ item.description }}
                </td>
                <td>
                    {{ item.photo }}
                </td>
                <td>
                    <a type="button" class="btn btn-primary" href="{% url 'item-edit' service.id item.id %}"> <!---->
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar
                    </a> 
                    <a type="button" class="btn btn-danger" href="{% url 'item-delete' service.id item.id %}"> 
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar
                    </a>
                </td>
            </tr>
            {% endfor %} {% else %}
            <h1>Este catalogo esta vacio.</h1>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}