{% extends '01Connection/base.html' %}

{% load static %}

{% block content %}
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Lista de connectiones</h3>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nombre de connection</th>
                <th>Motor de base de datos</th>
                <th>Usuario</th>
                <th>IP Servidor</th>
                <th>Puerto</th>
                <th>Base de datos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>              
            {% if object_list %}
                {% for connection in object_list %}
                <tr>
                    <td>
                        {{ connection.nombre }}
                    </td>
                    <td>
                        {{ connection.motor }}
                    </td>
                    <td>
                        {{ connection.usuario }}
                    </td>
                    <td>
                        {{ connection.ip_servidor }}
                    </td>
                    <td>
                        {{ connection.puerto }}
                    </td>
                    <td>
                        {{ connection.nombre_bd }}
                    </td>
                    <td>                        
                        <a type="button" class="btn btn-primary" href="{% url 'editar-connection' connection.id %}">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar
                        </a>
                        
                        <button type="button" class="btn btn-danger" onclick="validar_eliminacion('{% url 'eliminar-connection' connection.id %}', '{{ connection.nombre }}', '{{ connection.motor }}', '{{ connection.usuario }}')">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar
                        </button>                      
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <h1>No hay connectiones</h1>     
            {% endif %}             
        </tbody>
    </table>
    <div id="modal_eliminiar">
        <div class="modal fade" id="mostrarmodal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn btn-primary close" data-dismiss="modal" aria-hidden="true">
                            <span class="glyphicon glyphicon-close" aria-hidden="true"></span> Cancelar
                        </button>
                        <h3>Esta seguro de eliminar connection</h3> 
                    </div>
                    <form method="post" action="" id="form_confirmacion">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Datos de la connection</h3>
                                </div>
                                <div class="box-body">
                                <table class="table table-bordered table-hover">
                                    <tr>
                                        <td>
                                            <span class="input-group-addon label-info form-control">Nombre de la connection</span>
                                        </td>
                                        <td>
                                            <span class="input-group-addon label-default form-control" id="spn_nombre"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="input-group-addon label-info form-control">Motor de base de datos</span>
                                        </td>
                                        <td>
                                            <span class="input-group-addon label-default form-control" id="spn_motor"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="input-group-addon label-info form-control">Usuario</span>
                                        </td>
                                        <td>
                                            <span class="input-group-addon label-default form-control" id="spn_usuario"></span>
                                        </td>
                                    </tr>
                                </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger">
                                <span class="glyphicon glyphicon-delete" aria-hidden="true"></span> Eliminar
                            </button>
                        </div>
                    </form>
                </div>
        </div>
    </div>
  </div>
</div>
<script src="{% static "js/jquery-3.1.1.js" %}"></script>
<script src="{% static "js/codigo.js" %}"></script>
{% endblock %}