{% extends '01Connection/base.html' %}

{% load static %}

{% block content %}
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Nueva connection</h3>
    </div>
    <div class="box-body">
            <div id"div_form">
                <form method="post" id="form_connection">
                    {% csrf_token %}                  
                    <table class="table">
                        <tr>
                            <td>
                                <span class="input-group-addon label-info form-control">Nombre de la conexion</span>
                            </td>
                            <td>
                                {{ form.connection_name }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="input-group-addon label-info form-control">Gestor de base datos</span>
                            </td>
                            <td>
                                {{ form.manager_db }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="input-group-addon label-info form-control">Puerto</span>
                            </td>
                            <td>
                                {{ form.port }}
                            </td>           
                        </tr>

                        <tr>
                            <td>
                                <span class="input-group-addon label-info form-control" id="sizing-addon1">IP Servidor</span>
                            </td>
                            <td>
                                {{ form.host }}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="input-group-addon label-info form-control" id="sizing-addon1">Usuario</span>
                            </td>
                            <td>
                                {{ form.user }}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="input-group-addon label-info form-control" id="sizing-addon1">Contraseña</span>
                            </td>
                            <td>
                                {{ form.passwd }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="input-group-addon label-info form-control" id="sizing-addon1">Base de datos</span>
                            </td>
                            <td>
                                {{ form.dbname }}
                            </td>
                        </tr> 
                        <tr>
                            <td>
                                <button type="submit" class="btn btn-success">
                                    <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Guardar
                                </button>
                            </td>
                        </tr>                                     
                    </table> 
                    <div id="dblist"></div>                                  
                </form>
            </div>
    </div>
</div>
<script src="{% static "js/jquery-3.1.1.js" %}"></script>
<script src="{% static "js/codigo.js" %}"></script>
{% endblock %}